packages
bin
obj
_UpgradeReport_Files
*.user
*.vspscc
*.suo
/UpgradeLog.XML
/UpgradeLog.htm
*.vssscc
/Shane.Church.StirlingMoney.sln.ide
Shane.Church.StirlingMoney.UWP/AppPackages/
*/project.lock.json
.vs/
