<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="5c4e9170-66e9-4da9-b643-fae58841754e" Publisher="CN=Shane" Version="5.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5c4e9170-66e9-4da9-b643-fae58841754e" PhonePublisherId="ec35f097-ae6a-4553-9fd5-bcd16646bbcd" />
  <Properties>
    <DisplayName>Stirling Money Dev</DisplayName>
    <PublisherDisplayName>Shane Church</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="x71b78345y8b19y4fcdy881ayd6a2d137e522x" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="Stirling Money Dev" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Manage your personal finances with this simple application to keep track of account balances, transactions, budgets, and goals. Securely synchronize your data with selected family or friends." ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="musicLibrary" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>