<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
<!--		<add name="SyncServer" connectionString="Data Source=localhost\sqlexpress2012;Initial Catalog=StirlingMoney;Integrated Security=False;User ID=sa;Password=Augu$t18o6"/> -->
		<add name="SyncServer" connectionString="Data Source=localhost\sqlexpress2012;Initial Catalog=StirlingMoney;Integrated Security=True"/>
	</connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
