<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Audio" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="Coding4Fun.Phone.Controls" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="Coding4Fun.Phone.Controls.TimeSpan" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="Coding4Fun.Phone.Net" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="Coding4Fun.Phone.Storage" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="SilverlightToolkitWP" version="4.2012.6.25" targetFramework="sl40-wp71" />
</packages>